@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --dark-blue: #242D52;
    --bg-primary: #F3603C;
    --bg-secondary: #FFF0EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

h2, h3, h4 {
    color: var(--dark-blue);
}

p {
    color: var(--dark-grayish-blue);
    font-weight: 300;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: #fff;
}

.page-outer-container {
    /* width: 100%;
    height: 100vh; */
    min-width: 375px;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.inner-container {
    width: 90%;
    margin: 0 auto;
    /* padding-top: 5rem; */
}

.nav {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
}

.hero-section {
    background-image: url('./images/bg-tablet-pattern-small.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    padding-bottom: 12rem;
}

.stats-container {
    margin: 5rem 0 1rem;
}

.intro-text-container {
}

.intro-text-container h2 {
    font-size: 4rem;
    line-height: 1.4em;
    text-align: center;
}

.intro-text-container p {
    text-align: center;
    margin: 1rem 0 3rem;
}

.btn {
    border: none;
    padding: 1.5rem 3.3rem;
    border-radius: 22px;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 15px 15px -10px var(--bg-primary);
    display: block;
    margin: 0 auto;
}

.btn-get-started-primary {
    background-color: var(--bg-primary);
    color: #FCF6F5;
}

.btn-get-started-secondary {
    background-color: #fff;
    color: var(--bg-primary);
}

.about-section {
    
}

.about-section h3 {
    text-align: center;
    font-size: 3.2rem;
    padding: 0 1rem;
    line-height: 1.4em;
}

.about-section p {
    margin-top: 2.5rem;
    text-align: center;
}

.about-section-header {
    margin-bottom: 7rem;
}

.benefit-outer-container {
    margin-bottom: 4.5rem;
}

.benefit-header-container .inner-container {
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    background-color: var(--bg-secondary);
    border-radius: 3.9rem 0 0 3.9rem;
}

.benefit-header-number {
    padding: 1rem 3rem;
    border-radius: 3.9rem;
    background-color: var(--bg-primary);
    color: #fff;
    font-weight: 600;
}

.benefit-body-text p {
    text-align: left;
    /* margin-top: 1.5rem; */
}

.testimonials-section {
    margin-top: 6rem;
    position: relative;

}

.testimonials-section .inner-container {
}

.testimonials-section h4 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 8rem;
}

.testimonials-section ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 7rem;
}

.testimonials-section li {
    background-color: #FAFAFA;
    text-align: center;
    position: relative;
    padding: 6rem 2rem 3rem;
    text-align: center;
}

.testimonials-section li img {
    width: 72px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials-section .btn-get-started-primary {
    margin-top: 5rem;
}


.get-started-section {
    margin-top: 5rem;
    padding: 9rem 2rem;
    /* height: 405px; */
    background-color: var(--bg-primary);
    background-image: url('./images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started-section .inner-container {
   
}

.get-started-section h4 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

.get-started-section .btn-get-started-secondary {
    margin-top: 3rem;
}

.footer {
    background-color: hsl(233, 12%, 13%);
    padding: 6rem 2rem 3rem;
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 75%;
    padding: 1.5rem 2rem;
    border-radius: 22px;
    border: none;
}

input[type="text"]::placeholder {
    color: var(--dark-grayish-blue);
}

input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    width: 22%;
    padding: 1.5rem 1rem;
    border-radius: 22px;
    border: none;
    color: #fff;
    background-color: var(--bg-primary);
}

.footer-links-container {
    max-width: 480px;
    margin: 5rem 0;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-links-container > div {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.footer-links-container a {
    font-size: 1.5rem;
    font-weight: 300;
}

.social-icons-and-logo-container {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.social-icons-child-container {
    display: flex;
    justify-content: space-between;
}

.social-icons-child-container  img {
    width: 32px;
    height: 32px;
}

.logo-footer {
    align-self: center;
}

.copyright-footer {
    margin-top: 6rem;
    text-align: center;
}

.swiper {
    /* width: 600px; */
    height: 350px;
  }