@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --dark-grayish-blue: hsl(227, 12%, 61%);
    --dark-blue: #242D52;
    --bg-primary: #F3603C;
    --bg-secondary: #FFF0EC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

h2, h3, h4 {
    color: var(--dark-blue);
}

p {
    color: var(--dark-grayish-blue);
    font-weight: 300;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: #fff;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.9) 100%);
    z-index: 3;
}

.page-outer-container {
    min-width: 375px;
    background-image: url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(100% + 80px) calc(0% - 30px); /* Moves 50px further right */
}

.inner-container {
    width: 90%;
    margin: 0 auto;
}

.main-nav {
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.desktop-menu-wrapper {
    display: none;
}

.mobile-menu-wrapper {
    z-index: 6;
}

.main-nav-list {
    list-style-type: none;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 12rem;
    left: 0;
    z-index: 999;
    padding: 3.5rem;
    border-radius: 4px;
    box-shadow: 0 10px 20px 0 #505662;
}

.main-nav-link {
    text-align: center;
    padding: 1.5rem;
}

.main-nav-link a {
    color: var(--dark-blue);
}

.hero-section {
    background-image: url('./images/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: calc(100% + 245px) bottom; /* Moves 50px further right */
    padding-bottom: 10rem;
    margin-bottom: 3rem;
}

.stats-container {
    margin: 5rem 0 1rem;
}

.stats-img {
    width: 100%;
}

.intro-text-container {
}

.intro-text-container h2 {
    font-size: 4rem;
    line-height: 1.4em;
    text-align: center;
}

.intro-text-container p {
    text-align: center;
    margin: 1rem 0 3rem;
}

.btn {
    border: none;
    padding: 1.5rem 3.3rem;
    border-radius: 22px;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 15px 15px -10px var(--bg-primary);
    display: block;
    margin: 0 auto;
}

.btn-get-started-primary {
    background-color: var(--bg-primary);
    color: #FCF6F5;
}

.btn-get-started-secondary {
    background-color: #fff;
    color: var(--bg-primary);
}

.about-section {
    
}

.about-section h3 {
    text-align: center;
    font-size: 3.2rem;
    padding: 0 1rem;
    line-height: 1.4em;
}

.about-section p {
    margin-top: 2.5rem;
    text-align: center;
}

.about-section-header {
    margin-bottom: 7rem;
}

.benefit-outer-container {
    margin-bottom: 4.5rem;
}

.benefit-header-container .inner-container {
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    background-color: var(--bg-secondary);
    border-radius: 3.9rem 0 0 3.9rem;
}

.benefit-header-number {
    padding: 1rem 3rem;
    border-radius: 3.9rem;
    background-color: var(--bg-primary);
    color: #fff;
    font-weight: 600;
}

.benefit-body-text p {
    text-align: left;
}

.testimonials-section {
    margin-top: 6rem;
}

.testimonials-section .inner-container {
    overflow: hidden;
}

.testimonials-section h4 {
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 8rem;
}

.swiper {
    overflow: visible;
}

.swiper-slide {
    background-color: #FAFAFA;
    text-align: center;
    position: relative;
    padding: 3.2rem 2.7rem;
}

.swiper-slide img {
    width: 72px;
    position: absolute;
    top: 0;
    left: 50;
    transform: translate(-50%, -50%);
}

.swiper-slide h5 {
    font-size: 1.6rem;
    margin: 2.5rem 0;
}

.swiper-pagination {
    position: static;
    margin-top: 2rem;
}

.swiper-pagination-bullet {
    border: 2px solid var(--bg-primary);
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: var(--bg-primary);
}

.testimonials-section .btn-get-started-primary {
    margin-top: 2rem;
}

.get-started-section {
    margin-top: 5rem;
    padding: 9rem 2rem;
    background-color: var(--bg-primary);
    background-image: url('./images/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-position: left center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-started-section .inner-container {
   
}

.get-started-section h4 {
    font-size: 4rem;
    color: #fff;
    text-align: center;
}

.get-started-section .btn-get-started-secondary {
    margin-top: 3rem;
}

.footer {
    background-color: hsl(233, 12%, 13%);
    padding: 6rem 2rem 3rem;
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 75%;
    padding: 1.5rem 2rem;
    border-radius: 22px;
    border: none;
}

input[type="text"]::placeholder {
    color: var(--dark-grayish-blue);
}

input[type="text"]:focus {
    outline: none;
}

input[type="submit"] {
    width: 22%;
    padding: 1.5rem 1rem;
    border-radius: 22px;
    border: none;
    color: #fff;
    background-color: var(--bg-primary);
}

.footer-links-container {
    max-width: 38rem;
    margin: 5rem 0;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-links-container > div {
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}

.footer-links-container a {
    font-size: 1.5rem;
    font-weight: 300;
}

.social-icons-and-logo-container {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.social-icons-child-container {
    display: flex;
    justify-content: space-between;
}

.social-icons-child-container img {
    width: 32px;
    height: 32px;
}

.logo-footer {
    align-self: center;
}

.copyright-footer {
    margin-top: 6rem;
    text-align: center;
}

.desktop-only {
    display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .page-outer-container {
        /* background-image: url('./images/bg-tablet-pattern.svg'); */
        background-size: 85%;
        background-position: calc(100% + 90px) calc(0% - 60px); /* Moves 50px further right */
        /* padding-bottom: 10rem;
        margin-bottom: 3rem; */
    }

    .hero-section {
        /* background-image: url('./images/bg-tablet-pattern.svg'); */
        background-size: 75%;
        background-position: calc(100% + 250px) bottom; /* Moves 50px further right */
        padding-bottom: 10rem;
        margin-bottom: 3rem;
    }

    .intro-text-container {
        max-width: 53rem;
        margin: 0 auto;
    }

    .about-section-header {
        max-width: 53rem;
        margin: 0 auto 7rem;
    }

    .get-started-section h4 {
        max-width: 53rem;
        margin: 0 auto;
    }

    .footer .inner-container {
        max-width: 53rem;
    }
}

@media only screen and (min-width: 768px) {
    html {
        /* font-size: 65%; */
    }
}

@media only screen and (min-width: 992px) {
    .desktop-only {
        display: block;
    }

    .page-outer-container {
        background-size: 88%;
        background-position: calc(100% + 420px) calc(0% - 330px);
    }

    .mobile-menu-wrapper {
        display: none;
    }

    .main-nav {
        align-items: center;
    }

    .main-nav .btn-get-started-primary {
        margin: 0;
    }

    .desktop-menu-wrapper {
        display: flex;
        align-items: center;
    }

    .desktop-menu-wrapper .main-nav-list {
        display: flex;
        align-items: center;
        padding: 0;
        column-gap: 3rem;
        box-shadow: none;
        background-color: transparent;
        position: static;
    }

    .desktop-menu-wrapper .main-nav-link {
        padding: 0;
    }

    .hero-section {
        padding-top: 5rem;
        background-image: none;
    }

    .hero-section .inner-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .intro-text-container {
        max-width: 38rem;
    }

    .intro-text-container h2 {
        /* font-size: 4.5rem; */
        line-height: 1.1em;
        text-align: left;
    }

    .intro-text-container p {
        text-align: left;
        margin: 3rem 0 4rem;
    }

    .intro-text-container .btn-get-started-primary {
        margin: 0;
    }
}

